.FooterContainer{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: solid 0.01em;
}


.footerDetails{
    margin-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px) {
    .FooterContainer{
        background-color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    
    
    .footerDetails{
        margin-top: 4px;
        font-size: small;
    }
}

@media only screen and (max-width: 1080px) {
    .FooterContainer{
        background-color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
    }
    
    
    .footerDetails{
        margin-top: 4px;
        font-size: 2em;
    }
}
