body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainProjects{
    background-color: none;
    width: 49%;
    height: 100%;
    margin-top: 9%;
    padding: 15px 0px 15px 15px;
    display: flex;

}

.selectionDiv{
    width: 180px;
    height: 500px;
    background-color: none;
    border-radius: 0.5em;
    margin-right: 5px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.selectionDiv p{
    text-align: center;
}


.selectionDiv img{
    width: 90%;
    height: 88%;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px #888888;
}

.selectionDiv h2{
    position: absolute;
    color: white;
    margin-top: 350px;
}