@font-face{
    font-family: "mySans";
    src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

.Nav{
    background-color: none;
    width: 70%;
    height: 50px;
    margin: auto;
    position: relative;
}

.NavDiv{
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
}

.cover{
    position: absolute;
    right: 0;
}

.NavDiv button{
    width: 100px;
    height: 35px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: mySans;
    margin-left: 20px;font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.cover button:hover{
    background-color: black;
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.4);
    transform: translateY(-5px);
}


@media only screen and (max-width: 1600px) {

    .NavDiv{
        width: 534px;
    }

    .cover button:hover{
        background-color: black;
        border-color: #FFFFFF;
        color: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.4);
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 1280px) {
    .Nav{
        background-color: none;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .NavDiv{
        width: 90%;
        background-color: none;
    }

    .cover button{
        width: 180px;
        height: 55px;
        font-size: 1.1em;
        font-weight: bold;
        margin-left: 20px;font-weight: bold;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: solid;
        border-width: 2px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    .cover button:hover{
        background-color: black;
        border-color: #FFFFFF;
        color: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.4);
        transform: translateY(-5px);
    }
}

@media only screen and (max-width:1080px) {
    .Nav{
        width: 95%;
        height: 110px;
        background-color: none;
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .NavDiv{
        width: 90%;
        background-color: none;
    }

    .cover button{
        width: 220px;
        height: 90px;
        font-size: 2em;
        font-weight: bold;
        margin-left: 20px;font-weight: bold;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: solid;
        border-width: 2px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    .cover button:hover{
        background-color: black;
        border-color: #FFFFFF;
        color: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.4);
        transform: translateY(-5px);
    }
}